[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/GLM"]
	path = Engine/vendor/GLM
	url = https://github.com/g-truc/glm
[submodule "Engine/vendor/reactphysics"]
	path = Engine/vendor/reactphysics
	url = https://github.com/Junder-2/reactphysics3d.git
